{% extends 'base.html.twig' %}

{% block title %}Détail du profil de {{ specialist.name }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div id="member-show" class="row">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="{{ asset('build/avatar.png') }}" 
                             class="rounded-circle img-thumbnail"
                             alt="profile-image"
                        >
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title mb-3">
                                {{ specialist.name }}
                                <small class="fw-light"> ({{ specialist.city }})</small>
                                <span class="ms-2 badge rounded-pill bg-{{ specialist.online ? "success" : "secondary" }} ">
                                    {{ specialist.online ? "En ligne" : "Hors ligne" }}
                                </span>
                            </h5>
                            <p class="card-text member-summary">
                                {{ specialist.description }}
                            </p>
                            <a class="btn btn-primary" href="#">Appeler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
